/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.w-100{
  width: 100%;
}
.w-90{
  width: 90%;
}

/* Importing Bootstrap SCSS file. */
@import 'assets/css/mdb.rtl.min.css';
@import 'assets/css/mdb.min.css';
.mat-sort-header-container{
  display: flex !important;
  justify-content: center !important;
}
.ant-table-column-sorters{
  text-align: center !important;
}
